body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

body {
  background-color: #fcfcfc;
}
#table-caption{
  text-align: center;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/images/girl.jpg');
    min-height: 800px;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("./images/man1.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("./images/girl2.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.needNoWrap {
  white-space: nowrap;
}

#landingSmallChart {
  
}

#landingBegin {
  margin-top: 110px;
  font-size: 18px;
  color: white;
  background-color: #848484;
  cursor: pointer;
}

#modalChart {
  width: 100%;
  height: auto;
}

.currencyButton {
  border-radius: 10px;
  width: 60px;
  height: auto;
  /* margin-right: 10px; */
  /*margin-left: -5px;*/
  cursor: pointer;
  display: inline-block;
}

.buySellBtn {
  margin-left: 5px;
  margin-top: -4px;
}

#simulatorSelectedCurrency {
  margin-top: 7px;
}

.infoBuySell {
  margin-top: 25px;
  width: 80px;
}
.rank{
  font-size: 15px;
}
.portfolioLanding {
  width: 30%;
  margin: auto;
}

.portfolioLandingButton {
  border-radius: 10px;
  width: 150px;
  box-shadow: 0px 0px 3px 0px #42cef4;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  color: darkslategrey;
  font-size: 2em;
}

.portfolioLandingButton:hover {
  background-color: gainsboro;
}

.portfolioEntryTable {
  border: 1px solid gray;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.portfolioDetails {
  margin-top: 30px;
}

th, td {
  padding: 10px;
}

.createPortBtn {
  padding-top: 75px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .port-list-div {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .port-list-div {
    width: 100%;
  }
}

.port-list-div {
  padding: 20px;
}

.port-list-modal {
  max-width: 570px;
  padding: 15px;
} 

.port-list-btn {
  width: 100%;
}

.port-list-btn > p {
  color: #898686;
  font-size: 16px;
}

#landingTitle {
  margin-top: 20rem;
  font-size: 100px;
}

#loadingGif {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 400px;
}
.leaderboardHeader {
  border-bottom: 1px dashed;
}
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: -2px;
  z-index: 1;
}

.currInfo {
  margin-top: 80px;
}
.deleteButton {
  color: 'red'
}
.bottom_row {
  margin-bottom: 100px;
}

#animatedMessage {
  font-size: 20px;
  margin-top: -50px;
}

#bottomSimPurchase {
  margin-bottom: 50px;
}

.purchasePrice {
  margin-left: -40px;
}

#currBuyInput {
  margin-left: -12px;
}

.landingChart {
  height: 400px;
  max-width: 100%;
  min-width: 310px;
  margin: auto;
  margin-top: 100px;
}

#selectedCurrencyText {
  font-size: 20px;
  margin-top: -5px;
}

.loginSignupSubmitBtn {
  margin-top: 10px;
}

.leaderboardTable {
  border: 1px solid lightgray;
  border-top: none;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}
.leaderboard-entry {
  cursor: pointer;
}
.newsArticle {
  cursor: pointer;
}

.buy-btn {
  width: 90px;
  margin-right: 10px;
}

.sell-btn {
  width: 90px;
  margin-right: 10px;
}

@media screen and (max-width: 840px) {
  .buy-btn {
    width: 60px;
    border-radius: 4px;
  }

  .sell-btn {
    width: 60px;
    border-radius: 4px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 840px) {
  .curr-info-price {
    margin-left: 14%;
  }
}

/* .btn-primary {
  background-color: #42cef4 !important;
  border-color: #42cef4 !important;
}

.btn-primary:hover {
  background-color: #0dadd9 !important;
  border-color: #42cef4 !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:visited, .btn-primary:active:focus, .btn-primary:active:hover {
  background-color: #0a86a9 !important;
  border-color: #42cef4 !important;
}

.btn-danger {
  background-color: #ff8100 !important;
  border-color: #ff8100 !important;
}

.btn-danger:hover {
  background-color: #cc6600 !important;
  border-color: #ff8100 !important;
}

.btn-danger:active, .btn-danger:focus, .btn-danger:visited, .btn-danger:active:focus, .btn-danger:active:hover {
  background-color: #994d00 !important;
  border-color: #ff8100 !important;
} */
tbody tr:nth-child(odd) {
  background-color: rgba(66, 206, 244, 0.1);
}

.leaderboardTableData {
  padding: 14px;
}

.thead-default {
  border-bottom: 1px solid lightgray;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0 !important;
  }
} 
