body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

body {
  background-color: #fcfcfc;
}
#table-caption{
  text-align: center;
}
.portfolioSpinner {
  height: 50%;
  width: 50%;
  margin: 7% 0 0 25%; 
}
.historyModalText {
  text-align: center;
}
#portfolioTableFade {

  -webkit-animation: fadein .8s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .8s; /* Firefox < 16 */
      -ms-animation: fadein .8s; /* Internet Explorer */
       -o-animation: fadein .8s; /* Opera < 12.1 */
          animation: fadein .8s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/images/girl.jpg');
    min-height: 800px;

}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("./images/man1.jpg");
    min-height: 400px;
}

/* Third image (Contact) */

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2 {
        background-attachment: scroll;
    }
    .bgimg-1 {
      min-height: 400px
    }
}

.needNoWrap {
  white-space: nowrap;
}

#landingSmallChart {
  
}

#landingBegin {
  margin-top: 110px;
  font-size: 18px;
  color: white;
  background-color: #848484;
  cursor: pointer;
}
.loader {
  border: 7px solid #f3f3f3 ; /* Light grey */
  border-top: 7px solid #42cef4; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 20% 0 0 42.8%; 
}
.currency-loader {
  border: 7px solid #f3f3f3 ; /* Light grey */
  border-top: 7px solid #42cef4; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
  margin: 28% auto 35% auto; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#modalChart {
  width: 100%;
  height: auto;
}

.currencyButton {
  border-radius: 10px;
  width: 60px;
  height: auto;
  /* margin-right: 10px; */
  /*margin-left: -5px;*/
  cursor: pointer;
  display: inline-block;
}

.buySellBtn {
  margin-left: 5px;
  margin-top: -4px;
}

.infoBuySell {
  margin-top: 25px;
  width: 80px;
}
.rank{
  font-size: 15px;
}
.portfolioLanding {
  width: 30%;
  margin: auto;
}

.portfolioLandingButton {
  border-radius: 10px;
  width: 150px;
  box-shadow: 0px 0px 3px 0px #42cef4;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  color: darkslategrey;
  font-size: 2em;
}

.portfolioLandingButton:hover {
  background-color: gainsboro;
}

.portfolioEntryTable {
  border: 1px solid gray;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.portfolioDetails {
  margin-top: 30px;
}

th, td {
  padding: 10px;
}

.createPortBtn {
  padding-top: 75px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .port-list-div {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .port-list-div {
    width: 100%;
  }
}

.port-list-div {
  padding: 20px;
}

.port-list-modal {
  max-width: 570px;
  padding: 15px;
} 

.port-list-btn {
  width: 100%;
}

.port-list-btn > p {
  color: #898686;
  font-size: 16px;
}

#landingTitle {
  margin-top: 20rem;
  font-size: 100px;
}

.leaderboardHeader {
  border-bottom: 1px dashed;
}
.leaderboard-loader {

  border: 7px solid #f3f3f3 ; /* Light grey */
  border-top: 7px solid #42cef4; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 18% 0 0 46%; 
}
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: -2px;
  z-index: 1;
}

.currInfo {
  margin-top: 80px;
}
.deleteButton {
  color: 'red'
}
.bottom_row {
  margin-bottom: 100px;
}

#animatedMessage {
  font-size: 20px;
  margin-top: -50px;
}

#bottomSimPurchase {
  margin-bottom: 50px;
}


.currBuyInput {
  margin-left: 2.7%;
  margin-bottom: -1%;
  margin-top: 3.5%;
} 

.landingChart {
  height: 400px;
  max-width: 100%;
  min-width: 310px;
  margin: auto;
  margin-top: 100px;
}

#simulatorSelectedCurrency {
  margin-top: 7px;
}

#selectedCurrencyText {
  font-size: 20px;
  margin-top: -5px;
}

.purchasePrice {
  margin-left: -40px;
}
@media screen and (max-width: 840px){
  #selectedCurrencyText {
    display: block;
    font-size: 20px;
  } 
  .buy-sell{
    display: block;
    margin-top: 5%;
    margin-left: 12%;
  }
  .purchasePrice {
    margin-left: 35%;
  }
  .purchase-selector {
    margin-left: 26%;
  }
  #bottomSimPurchase {
    margin-left: 3%;
  }
  .portfolio-landing-responsive {
    margin-left: -46%;
  }
  /* #simulatorSelectedCurrency {
    padding-top: 10px;
    display: block;
  } */
}
@media screen and (max-width: 568px){
  .display-price-mobile {
    margin-top: 7%;
  }
}
.loginSignupSubmitBtn {
  margin-top: 10px;
}

.leaderboardTable {
  border: 1px solid lightgray;
  border-top: none;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}
.leaderboard-entry {
  cursor: pointer;
}
.newsArticle {
  cursor: pointer;
}

.buy-btn {
  width: 90px;
  margin-right: 10px;
}

.sell-btn {
  width: 90px;
  margin-right: 10px;
}

.transaction-modal-title {
  text-align: center;
}

@media screen and (max-width: 840px) {
  .buy-btn {
    width: 60px;
    border-radius: 4px;
  }

  .sell-btn {
    width: 60px;
    border-radius: 4px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 840px) {
  .curr-info-price {
    margin-left: 14%;
  }
}

.woolfVision {
  width: 20%;
  height: auto;
  margin-top: -8px;
}

.woolfVisionBig {
  width: 30%;
  height: auto;
  margin-top: -3px;
  margin-right: -8px;
}

/* .btn-primary {
  background-color: #42cef4 !important;
  border-color: #42cef4 !important;
}

.btn-primary:hover {
  background-color: #0dadd9 !important;
  border-color: #42cef4 !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:visited, .btn-primary:active:focus, .btn-primary:active:hover {
  background-color: #0a86a9 !important;
  border-color: #42cef4 !important;
}

.btn-danger {
  background-color: #ff8100 !important;
  border-color: #ff8100 !important;
}

.btn-danger:hover {
  background-color: #cc6600 !important;
  border-color: #ff8100 !important;
}

.btn-danger:active, .btn-danger:focus, .btn-danger:visited, .btn-danger:active:focus, .btn-danger:active:hover {
  background-color: #994d00 !important;
  border-color: #ff8100 !important;
} */
tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.colored-offset:nth-child(odd) {
  background-color: #f1f1f1;
}

.leaderboardTableData {
  padding: 14px;
}

.thead-default {
  border-bottom: 1px solid lightgray;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0 !important;
  }
} 

.footer2 a {
    color: #DDD;
}

.footer2 a:hover,
.footer2 a:focus,
.footer2 a:active {
    color: #FFF;
}

.footer2 .footer {
    background-color: #fcfcfc;
    margin-top: 4em;
}

.footer2 .footer nav h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em 0;
}

.footer2 .footer nav h3 span {
    font-weight: 300;
    text-transform: capitalize;
}

.footer2 .footer nav ul li a {
    text-decoration: none;
    display: block;
    padding: 4px 0;
    font-size: 13px;
}

.footer2 .footer .input-group {
    margin: 15px auto;
    max-width: 400px;
}

.footer2 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
}

.footer2 .footer .form-control:hover,
.footer2 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer2 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
}

.footer2 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer2 .footer .social li {
    float: left;
}

.footer2 .footer .social li a {
    display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 5px 4px
}

.footer2 .footer .social li a:hover {
    background-color: #3A4144;
}

.footer2 .footer-bottom {
    background-color: #222728;
    color: #DDD;
    font-size: 13px;
}

.footer2 .footer-bottom ul li {
    display: inline-block;
}

.footer2 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer2 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer2 .footer-bottom ul li:last-child a:after {
    content: "";
}

@media (max-width: 550px) {
    .footer2 .footer-bottom .pull-left,
	.footer2 .footer-bottom .pull-right {
		float: none !important;
		width: 100%;
		padding: 10px;
		text-align: center;
	}
}
@media (max-width: 767px) {
    .footer2 .footer {
        text-align: center;
    }
}
@media (max-width: 991px) {
    .footer2 .footer ul {
        margin-bottom: 30px;
    }
}

.pull-left, .pull-right {
  padding-top: 13px;
  text-decoration: none;
}

.founderPics {
  width: 90%;
  height: auto;
  /* transform: rotate(90deg); */
  z-index: -1;
}

/* Wrapper for page content to push down footer */
#app {
  min-height: 100%;
  height: auto;
  padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 48px;
  background-color: #222728;
  color: lightgray;
  font-size: 13px;
}

div a:hover {
  text-decoration: none;
  color: black;
}

.about-link a:hover {
  color: white;
}